<!-- MVPs/templates/MVPs/lista_alunos.html -->
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>Lista de Alunos</title>

</head>
<body>
    <header>
        <h1>Lista de Alunos</h1>
    </header>
    <div class="container">
        <h2>Alunos Cadastrados</h2>
        <ul>
            {% for aluno in alunos %}
                <li>{{ aluno.nome }}</li>
            {% empty %}
                <li>Nenhum aluno cadastrado.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'lista_projetos' %}">Ver Lista de Projetos</a>
    </div>
</body>
</html>
